<p style="color: green"><%= notice %></p>

<%= render @style %>

<h3>beers: </h3>
<ul>
<% @style.beers.each do |beer| %>
  <li>
        <%= beer.name %>
      </li>
  <% end %>
  </ul>

<div>
  <%= link_to "Back to styles", styles_path %>
</div>
